Git-2.39.2-64-bit.exe
Github/
JavaScript/
Linux Ubuntu/
NODE/
Ubuntu 22.04.1/
Ubuntu/
VirtualBox-7.0.6-155176-Win.exe
a.js
dividindo-sala.js
iNDEX__.HTML
material.zip
material/
p5.collide2d.js
ubuntu-22.04.1-live-server-amd64.iso
